<h1>Admin Settings</h1>


<form id="form" method='post' enctype='multipart/form-data'>
    <fieldset class="page-section form-section">
        <legend class="page-section-header">Forum Settings</legend>

        <div>
            {{ form.get("Reset") }}
        </div>


    </fieldset>

</form>


{{ content() }}