
#forum-topic-search {

    background-color: #f1f1f1;
    background-image: url("../img/buttons/search.png");
    background-repeat: no-repeat;
    background-position: center right;

    z-index: 2;
    color: grey;
    border-radius: 3px;
    border: 1px solid #cacaca;
    height: 25px;
    line-height: 25px;
    padding: 0px 18px 0px 5px;
    width: 170px;
    overflow: hidden;
}

#forum-topic-title-results {
    border: solid;
}

.forum-topic-search-page-results {

}

#forum-search-toggle-title-results {
    cursor: pointer;
}

.ui-widget {
    float: right;
    margin-top: 10px;
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-flex-direction: row;*/
    /*flex-direction: row;*/
    /*-webkit-justify-content: flex-end;*/
    /*justify-content: flex-end;*/
}

.ui-menu {

    /*-webkit-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-webkit-justify-content: flex-start;*/
    /*justify-content: flex-start;*/

    border-radius: 15px;
    border: 2px solid #333333;
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

    width: 300px;

    border-radius: 12px;
    border-top-right-radius: 0px;

    margin-top: 20px;
    margin-right: 10px;

    padding: 0;

}

.ui-menu-item {
    list-style: none;
    color: #8d8dff;
    list-style-position: inside;
}

.ui-menu #forum-topic-title-results {
    background: #333333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    border-top-right-radius: 0px;
    margin: 2px;
    color: white;
    padding: 10px 20px;
}

.ui-menu #forum-topic-title-results h3 {
    font-size: 1.25em;
}

.button-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    color: #999999;
    cursor: pointer;
    display: block;
    float: right;
    font: inherit;
    height: 27px;
    margin: 0;
    padding: 0 5px;
    vertical-align: baseline;
}