/*html, h2, h3 {*/
/*font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
/*font-size: 10pt;*/
/*}*/

html {
    line-height: unset !important;
    font-size: 10pt !important;
}

div.g-recaptcha {
    margin: 0.3em;
}

.admin-body #form #description {
    height: auto;
}

.admin-body #form checkbox {
    position: unset !important;
    left: unset;
    opacity: unset;
}

#embed-image-dialog {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 0;*/
    z-index: 1000;
}

#embed-image-dialog > div {
    display: table;
    margin: 100px auto;
    padding: 3px 15px;
    text-align: center;
    border: 2px solid #cacaca;
    border-radius: 4px;

    background: -webkit-linear-gradient(#e3e3e3, #f9f9f9 40%);
    background: -o-linear-gradient(#e3e3e3, #f9f9f9 40%);
    background: -moz-linear-gradient(#e3e3e3, #f9f9f9 40%);
    background: linear-gradient(#e3e3e3, #f9f9f9 40%);
}

#embed-image-dialog > div > h3 {
    margin: 0;
}

#mobile-navbar img {
    vertical-align: middle;
    height: 3em;
    margin-left: .8em;
    margin-bottom: 0.55em
}



#news-article article p {
    margin-left: 5px;
    margin-right: 5px;
}

#news-article article p iframe {
    width: auto;
    height: auto;
}

#page-content a {
    color: #000000;
}

#page-content h2, #page-content h3 {
    font-size: 10pt;
    margin: 0;
}

#page-content h1 {
    padding-left: 5px;
    min-height: 39px;
    text-align: left;
    line-height: 39px;
    height: 39px;
    font-size: 12pt;
    margin: 0px;
    color: #bbbbbb;
    overflow: hidden;
    font-weight: 700
}

.page-section, #page-content #forum section { /* forum sections */
    margin: 0px 5px 10px 5px;
    border-radius: 3px;
    background-color: #f9f9f9;
}

/*.page-section-header, #page-content #news-splash article h2, #page-content #forum section h2, #page-content caption, #forum-topic nav {*/
/*border-top-right-radius: 3px;*/
/*border-top-left-radius: 3px;*/

/*background: #dddddd;*/
/*padding: 0px 6px 0px 6px;*/
/*cursor: default;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;*/
/*overflow: hidden;*/
/*color: #555555 !important;*/
/*white-space: nowrap;*/
/*text-overflow: ellipsis;*/

/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
/*}*/

.page-section-header, #page-content #news-splash article h2, #page-content #forum section h2, #page-content caption, #forum-topic nav {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    background: #dddddd;
    padding: 0px 6px 0px 6px;
    /*cursor: default;*/
    height: 25px;
    line-height: 25px;
    text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;
    overflow: hidden;
    color: #555555 !important;
    white-space: nowrap;
    text-overflow: ellipsis;

    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/

    /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.01)), to(rgba(255, 255, 255, 1)));*/
    /*background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));*/
    /*background: -o-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));*/
    box-shadow: 0px 1px 3px #777;
    -webkit-box-shadow: 0px 1px 3px #777;
    /*border-radius: 6px;*/
    /*padding: 5px 3px 3px 3px;*/
    /*margin-top: .5em;*/

}

#page-content caption a {
    color: #555555 !important;
}

#page-content #news-splash article p {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 3px 6px 3px;
    text-align: justify;
}

nav#mobile-nav-horizontal {
    background-color: #4f4f4f;
}

nav#mobile-nav-horizontal ul {
    display: flex;
    justify-content: space-between;
    line-height: unset !important;
    height: 100%;

}

nav#mobile-nav-horizontal img {
    width: 28px;
    vertical-align: middle;
}

nav#mobile-nav-horizontal li.selected {
    background: none repeat scroll 0 0 #999999;
}

nav#mobile-nav-horizontal li.selected:hover {
    background: none repeat scroll 0 0 #999999;
}

nav#mobile-nav-horizontal li:hover {
    background: none repeat scroll 0 0 #777777;
}

#mobile-navbar {
    background: -moz-linear-gradient(center top, #606060, #464646) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top, #606060, #464646);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #606060), color-stop(1.0, #464646));
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);*/

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);*/
    /*height: 39px;*/
    /*!*display: table;*!*/
    /*width: 1050px;*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);

}

#mobile-navbar .brand-logo, #mobile-navbar .button-collapse {
    color: #cccccc;
}

#dropdown1 {
    background: #eeeeee;
}

#dropdown1 li a {
    color: black;
}

/*#mobile-navbar .button-collapse{*/
/*padding: 0;*/
/*}*/

#slide-out {
    background-color: #eeeeee;
}

#slide-out.side-nav .collapsible-body li a, #slide-out.side-nav.fixed .collapsible-body li a {
    padding: 0 !important;
}

#slide-out.side-nav .collapsible-body {
    padding: 0;
}

#slide-out.side-nav .collapsible-body li {
    background-color: #d3d3d3;

}

#slide-out.side-nav .collapsible-body li a {
    text-indent: 30px;
}

#slide-out.side-nav .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
}

/*.dropdown-content{*/
/*overflow: visible !important;*/
/*}*/

/*!*FORUM STYLE*!*/

/*.table-row-group {*/
/*display: table;*/
/*padding-left: 0.3%;*/
/*padding-right: 0.3%;*/
/*table-layout: fixed;*/
/*width: 99.4%;*/
/*}*/

/*.table-header {*/

/*height: 25px;*/
/*color: #555555;*/
/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);*/
/*border-top-left-radius: 3px;*/
/*border-top-right-radius: 3px;*/
/*}*/

.forum-topic-post-toolbar div:nth-child(2) {
    margin-right: 1em;
}

.table-header, #page-content #forum .table-header {

    padding: 0px;
    color: #555555;
    background: #eeeeee;
    text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;
}

#page-content #forum tbody tr td dl {
    margin: 0;
}

#page-content #forum tbody tr td dl dt {
    margin: 5px 0 0 0;
    font-weight: bold;
}

#page-content #forum tbody tr td dl dd {
    display: inline-block;
    margin: 0;
}

.table-row > span:first-child a img:hover {
    background-image: none;
}

.table-row > div, span {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-row > div > h3 {
    margin: 0;
}

.table-row > div > p {
    color: #666666;
    margin: 0;
}

.table-row-group > .table-row > div > dl * {
    display: inline;
    width: auto;
}

.table-row-group > .table-row > div > dl {
    margin-top: 2px;
    margin-bottom: 2px;
}

.table-row-group > .table-row > div > dl:nth-child(2) {
    font-size: .8em;
}

.table-row-group > .table-row > div > dl > dt {
    color: #555555;
}

.table-row-group > .table-row > div > dl > dd {
    float: right;
    margin-left: 5px;
}

#page-content #forum h3 a {
    color: #3976be;
}

.page-content-container, #page-content #forum-topic > div {
    background-color: #f9f9f9;
    margin: 3px;
    /*width: auto;*/
}

table.table-container {
    background-color: #f9f9f9;
    margin: 0;
    /* width: 100%; */
    border: 3px solid;
    border-color: #f9f9f9;
}

#page-content #forum table caption, #forum-topic nav {
    caption-side: top;
    text-align: left;

}

#page-content #forum table tbody {
    border: solid;
    border-color: #f9f9f9;
}

.table-header-cell, #page-content #forum th {
    padding: .38em;
}

#page-content #forum td, #page-content #forum td a:nth-child(2) {
    color: #666666;
    padding-top: 5px;
}

#page-content #forum td:first-child {
    padding-top: 3px;
    /*border: solid;*/
}

#page-content #forum .topics-td {
    vertical-align: top;
}

.errorMessage, .error, .required {
    font-weight: bold;
    color: red;
}

.successMessage {
    color: bl;
}

.button {

    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(0, 0, 0, 0.05)), color-stop(1.0, rgba(0, 0, 0, 0.2)));

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 28px;
    width: 35px;
    margin: 3px;
    vertical-align: middle;
}

.table-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

.success {
    background-color: #259825;
}

.info {
    background-color: #0854ae;
}

.web-orange, .wbb-quote {
    background-color: #f9a400;
}

.tool {
    background-color: #4f4f4f;
}

.forum-topic-rating-small {
    /*width: 17px;*/
    height: 11px !important;
    width: 11px;
    background-color: #f9a400;
    padding: 0 !important;
    margin: .1em !important;
    vertical-align: top !important;
}

.forum-topic-reply #form fieldset:first-child {
    border: 0;
}

.forum-topic-reply #form fieldset:first-child legend {
    width: 100%;
}

#forum-topic p {
    margin: 0 !important;
    padding: 0;
}

#forum-topic .paginator {
    margin-top: 5px;
}

.form-section, #page-content #forum-topic .post {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.1)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));
    box-shadow: 0px 1px 3px #777;
    -webkit-box-shadow: 0px 1px 3px #777;
    border-radius: 6px;
    padding: 5px 3px 3px 3px;
    margin-top: .5em;
}

.form-button {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #cacaca;
    /*background: -moz-linear-gradient(center top, #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: -o-linear-gradient(center top, #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));*/
    padding: 2px 3px;
    margin: 3px;

    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);

    color: #333333 !important;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.8)), color-stop(1.0, rgba(255, 255, 255, 0.6))), -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(0, 0, 0, 0.0)), color-stop(1.0, rgba(0, 0, 0, 0.1))), #0854ae !important;
}

.form-button:hover {
    background: -moz-linear-gradient(center top, #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top, #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.form-button:active {
    background: -moz-linear-gradient(center top, #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top, #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
}

#login-form a {
    color: #3976be;
}

#login-form .successMessage {
    font-weight: bold;
    color: black;
    margin: 0.6em 0 0 0;
}

#page-content #forum-topic article {
    margin: 10px 5px 5px 10px;
}

#page-content #forum-topic .user-details img.team {
    vertical-align: middle;
}

#page-content #result td {
    padding: 10px 5px;
}

#forum tbody {
    border-top-width: .1em !important;
}

/*Paginator*/

.paginator {
    text-align: center;
    padding: 0px;
    color: #555555;
    /*background: #eeeeee;*/
    text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;

    border-radius: 3px;

}

.paginator span {
    margin-left: 10px;
    margin-right: 10px;
}

.paginator .span-padding {
    margin: .2em;
}

.paginator .paginator-end {
    margin: 0 0 0 .1em;
}

.paginator-select {
    content: "...";
    display: inline;

}

.paginator *:nth-child(1) {
    margin-left: 0;
}

.paginator-button {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #dddddd;
    background: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background: -o-linear-gradient(top, #eeeeee, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    color: #000;
}

.paginator-button:hover {
    background-color: #e5e5e5;
    background: -moz-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -o-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.paginator-button:active {
    background-color: #eeeeee;
    background: -moz-linear-gradient(top, #dddddd, #eeeeee);
    background: -o-linear-gradient(top, #dddddd, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #dddddd), color-stop(1.0, #eeeeee));
}

.paginator-button-current {
    background-color: #e5e5e5;
    background: -moz-linear-gradient(top, #f6f6f6,
    #e5e5e5http: / / marketplace . eclipse . org / marketplace-client-intro ? mpc_install = 311881);
    background: -o-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.forum-topic-tools {

}

/*Mobile style*/

.article-feature-art, .article-feature-art img, .wysibb-feature-art, .wysibb-feature-art img {
    float: left;
    width: 300px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

/*MESSAGES*/

.messages-section {
    /*display: table;*/
    /*display: table-cell;*/
    /*width: 90%;*/
}

.messages-section h2 {
    background-color: #e3e3e3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #555555;
    display: inline-block;
    line-height: 25px;
    margin: 0;
    padding-left: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    width: 100%;
}

.messages-section h2 div {
    color: black;
    display: inline;
    float: right;
    font-weight: bold;
    padding-right: 14px;
}

#messages-container {
    display: table;
}

.messages-itemised-details {
    /*padding-left: 3px;*/
    /*width: 29%;*/
}

.messages-itemised-subject {
    /*font-weight: bold;*/
    color: black; /* This contains a link so is black */
    font-size: 13px;
    white-space: pre-wrap;
    display: block;
}

.messages-itemised-date {
    float: right;
    margin-right: 1em;
}

.messages-itemised-sender a:last-of-type, .messages-itemised-snippet * {
    text-decoration: none;
    color: black;
}

.messages-itemised-snippet {
    font-size: 11.5px;
    padding-top: 3px;
    /*width: 1000px;*/

}

.messages-itemised-snippet a {
    color: #bbbbbb !important;
}

/*#messages-inbox p {*/
/*display: inline;*/
/*}*/

.messages-itemised {
    /*display: block !important;*/
    margin: 0.5em
}
