/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2014, 12:43:43
    Author     : Richard Sinclair
*/

/* * {
   outline: 1px solid red;
  }*/

html {
    height: 100%;
}

html, h2, h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

body {
    margin: 0;
    background: #EEEEEE;
    min-height: 100%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

header, section, footer, aside, nav, main, article, figure {//HTML5 Correction
                                                            display: block; 
}

h1 {
    color: #999999;
    font-size: 16pt;
    line-height: 17px;
    /*    margin: 0px;*/
    text-align: left;
    display: inline-block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

blockquote {
    margin: 10px;
    padding: 10px;
    background: #eeeeee url('img/news-styling/quote.png') 10px 10px no-repeat;
    border-radius: 8px;
    color: #777777;
    display: inline-block;
    width: 95%;
}

a {
    text-decoration: none;    
    color: #3976be;
}

a:visited {
    text-decoration: none; 
}

.admin-body table {
    margin: 0 0 10px 0;
    border-radius: 3px;
    width: 100%;
    background-color: #f9f9f9;
}

.admin-body table caption {
    background: #e3e3e3;
    text-align: left;
    padding: 0 6px 0 6px;
    cursor: default;
    height: 25px;
    line-height: 25px;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.admin-body table tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02) ;
} 

.admin-body .table-row {
    text-decoration: none;
    color: black ;
}

.admin-body td {
    padding-left: 5px;
}

.align-right {
    float: right;
}

.avatar-img {
    width: 300px;
}

.caption-flash {
    float: right;
}

/*.container {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}*/

#embed-image-dialog {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}

#embed-image-dialog > div {
    display: table;
    margin: 100px auto;
    padding: 3px 15px;
    text-align:center;
    border: 2px solid #cacaca;
    border-radius: 4px;

    background: -webkit-linear-gradient(#e3e3e3 , #f9f9f9 40%);
    background: -o-linear-gradient(#e3e3e3 , #f9f9f9 40%); 
    background: -moz-linear-gradient(#e3e3e3 , #f9f9f9 40%); 
    background: linear-gradient(#e3e3e3 , #f9f9f9 40%);
}

#embed-image-dialog > div > h3 {
    margin: 0;
}


.successMessage, 
.warningMessage {
    display: inline;
    float: right;
    margin: 0 !important;
    padding-right: 5px;
    font-weight: bold;
}

#embed-image-text {
    width: 580px;
    height: 165px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    /*background: -moz-linear-gradient(center top , #f1f1f1, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*border: 1px solid #cacaca;*/
    /*border-radius: 4px;*/
}

.forum {
    text-align: initial;
}

.forum-topics, .forum-topic > div {
    /*border: 1px solid ;*/
    display: table;
}

.forum-topics, .forum-topic > div {
   width: 100%;
   display: table;
   background-color: #f9f9f9;
/*   margin-bottom: 10px;*/
}

#view-forums, #view-topics {
    margin-top: 9px;
    margin-right: 5px;
    border-radius: 3px;
    float: right;
}

.forum-topics h2, .forum-topic nav h2 {
    /*display: table-caption;*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #e3e3e3;
    padding-left: 6px;
    line-height: 25px;
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    margin: 0;
    margin-bottom: 2px;
}
    
.forum-topic nav {
    width: 100%;
    display: block;
}

.forum-topic-post-toolbar {
    overflow: auto;
}

.forum-topic-rating-small {
    /*width: 17px;*/
    height: 11px !important;
    width: 11px;
    background-color: #f9a400;
    padding: 0 !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.forum-topics div span > section > h3, .forum-topic > div h3 {
    color: #3976be;
}

.forum-topics header, .forum-topic > div > div {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.forum-topics.table-row div:nth-child(4) a {
    display: block;
}

.forum-topics .table-row > span:first-child {
    vertical-align: middle;
}

/*#forum section div > div:first-of-type {
    
    background-color: #eeeeee;
}*/

#table {
    display: table !important;
}

.table-row-group {
    display: table;
    padding-left: 0.3%;
    padding-right: 0.3%;
    table-layout: fixed;
    width: 99.4%;
}

.table-header {
    
    height: 25px;
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#footer {
    display: table;
    width: 100%;
    margin: 10px 0;
}

#footer-left {
    display: table-cell;
    color: #999999;
    width: 60%;
}

#footer-right {
    display: table-cell;
}

#forum > section > h2, #members form, #league > section > h2 {
    background-color: #e3e3e3;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    line-height: 25px;
    padding-left: 6px;
    color: #555555;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 3px;
}

#forum section, #league section {
    background-color: #f9f9f9;
}

#forum .table-header > *, #league .table-header > * {
    background-color: #eeeeee;
}

#forum .table-row *:nth-child(4) {
    padding-left: 10px;
}

#forum .replies-col {
    width: 5%;
    border-radius: 3px 0 0 0;
}

#forum .name-col {
    width: 53%;
}

#forum .topics-posts-col {
    width: 12%;
}

#forum .activity-col {
    width: 26%;
}

#forum .mark-read-col {
    width: 5%;
}

#forum .table-header.table-row span:nth-child(6) {
    width: 5%;
}

.forum-topics .table-header.table-row span:nth-child(1) {
    width: 5%;
}

.forum-topics .table-header.table-row span:nth-child(2) {
    width: 45%;
}

.forum-topics .table-header.table-row span:nth-child(3) {
    width: 10%;
}

.forum-topics .table-header.table-row span:nth-child(4) {
    width: 21%;
}

.forum-topics .table-header.table-row span:nth-child(5) {
    width: 5%;
}

/*.table-row > div:first-of-type {*/
    /*width: 57%;*/
/*}*/

#admin-forum-flagged-posts-header > th:nth-child(1) {
    width: 20%;
}

#forum .table-row > * {
    vertical-align: middle;
    padding: 5px;
}

.forum-topics .table-row > * {
    vertical-align: middle;
    padding: 5px;
}

.forum-topics .table-row *:nth-child(3) {
    padding-right: 10px;
}

.forum-topics .table-row *:nth-child(5) {
    text-align: center;
    /*padding-top: 10px;*/
}

#league-rivals .table-row span:nth-child(1) {
    text-align: right;
    width: 19%;
}

#league-rivals .table-row span:nth-child(2) {
    text-align: center;
    width: 18%;
}

#league-rivals .table-row span:nth-child(3) {
    text-align: center;
    width: 17%;
}

#league-rivals .table-row span:nth-child(3) span:nth-child(1) {
    color: #3976be;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
}

#league-rivals .table-row span:nth-child(3) span:nth-child(2) {
    font-weight: bold;
}

#league-rivals .table-row span:nth-child(4) {
    text-align: center;
    width: 20%;
}

#league-rivals .table-row span:nth-child(5) {
    width: 21%;
    text-align: left;
}

#league-rivals .table-row span img {
    vertical-align: middle;
}

#news-splash-preview-art a {
    position: absolute;
    padding: 0.1em;
    color: white;
    font-size: 8pt;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
    right: 1em;
}

#news-sidebar-right {
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    display: inline-table;
    float: right;
    /*flex-direction: column;*/
    width: 22em;
    background: #eeeeee;
    color: #555555;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#upnext {

}

#upnext .upnext-team {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

#upnext .upnext-team span {
    padding: 0;
}

#upnext .team * {
    /*padding: 0;*/
}

#upnext div:nth-child(3) {
    text-align: center;
}

#upnext div, #upnext a {
    background: #eeeeee;
    color: #555555;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    width: 100%;

}

#upnext h3 {
    display: flex;
    align-items: center;

    margin: 0;
    /*padding: 10px 0px 10px 5px;*/
    padding: 0;
    color: #555555;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    background: #e3e3e3;
    font-size: 1.2em;
    width: 100%;
    height: 2em;

}

#upnext h3 span, .upnext-button span {
    padding: 0 0 0 0.25em;
}

#last-match-preview-promo .article-feature-art {
    /*box-shadow: unset;*/
    width: 100%;
}

.upnext-button {
    /*display: flex;*/
    /*align-items: center;*/
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    font-size: 1.2em;
    /*padding-left: 5px;*/
    /*line-height: 40px;*/
    line-height: 3.077em;
    font-size: 1em;
    /*height: 40px;*/
    cursor: pointer;
}

.upnext-button:hover {
    background: #eeeeee;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

div.getty.embed.image {
    background-color: #fff;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #a7a7a7;
    /*font-size: 11px;*/
    /* width: 100%; */
    max-width: 594px;
}


#results .table-row span:nth-child(1) {
    text-align: right;
    width: 19%;
}

#results .table-row span:nth-child(2) {
    text-align: center;
    width: 18%;
}

#results .table-row span:nth-child(3) {
    text-align: center;
    width: 20%;
}

#results .table-row span:nth-child(3) span:nth-child(1) {
    color: #3976be;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
}

#results .table-row span:nth-child(3) span:nth-child(2) {
    float: left;
    width: auto;
    padding: 0;

}

#results .table-row span:nth-child(3) span:nth-child(2) a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)) repeat scroll 0 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    */ /*background: -moz-linear-gradient(top, #eeeeee, #dddddd);*/ /*background: -o-linear-gradient(top, #eeeeee, #dddddd);*/ /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));*/

    border-radius: 3px;
    font-size: 8pt;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

#results .table-row span:nth-child(3) span:nth-child(3) {
    text-align: center;
}

#results .table-row span:nth-child(3) span:nth-child(4) {
    float: right;
    width: auto;
    padding: 0;
}

#results .table-row span:nth-child(3) span:nth-child(4) a {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    font-size: 8pt;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

#results .win {
    color: green;
}

#results .loss {
    color: red;
}

#results .table-row span:nth-child(4) {
    text-align: center;
    width: 20%;
}

.league-main-img:nth-of-type(1) {
    position: absolute;
    height: 176px;
}

.league-main-img:nth-of-type(2) {
    position: absolute;
    right: 16px;
    height: 176px;
}

.league-main-img[title|="Premier League"] {
    height: 5em;
}

#league-rivals .table-row span:nth-child(5) {
    width: 21%;
    text-align: left;
}

#league-rivals .table-row span img {
    vertical-align: middle;
}

.hidden {
    visibility: hidden;
}

.forum-search-results-half-width {
    width: 50% !important;
}

#forum-search-toggle-title-results {
    cursor: pointer;
}

.forum-search-results-max::before {
    content: "[-]";
}

.forum-search-results-min::before {
    content: "[+]";
}

#forum-topic-title-results .table-row div, #forum-topic-content-results .table-row div {
    color: black;
}

.post {
    display: table;
    width: 100%;
}

.misc-tool {
    display: table-cell;
    width: 5%;
    text-align: center;
}

.post > * {
       
}

.error { /* http://www.colourlovers.com/palette/701084/Mondrian-Art_d_ECO */
    color: #BF0000;
}

.misc-tool .button {
    margin-bottom: 5px;
}

.misc-tool .button:first-child {
    margin-top: 10px;
}

.user-details{
    display: table-cell;
}

.user-details p a {
    text-decoration: none;
    color: black;
}

.post > .user-details {
    width: 13%;
    border-right: 1px solid #eeeeee;
    text-align: center;
}

.user-details img {
    display: block;
}

.post > .user-details span {
    display: block;
    padding: 0;
}

.post > .user-details img {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.team {
    vertical-align: middle;
    width: 31px !important;
    height: 28px !important;

}

.post > .post-details {
    border-bottom: 1px solid #eeeeee;
    display: table;
    width: 100%;
}

.post > .post-details > *:nth-child(2) {
   float: right;
}

.post .post-details h2 {

}

.post > .post-content {
    padding: 5px;
}

.post > .post-content p {
    margin: 0;
}

.post > .post-content footer {
    float: right;
}
.post .post-content-edited-by {
    color: #999999;
}

.post  .user-signature {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
        padding-top: 5px;
        padding-bottom: 5px;
}

.user-signature > p {
    display: inline;
}

.user-signature > div {

    float: right;
}

.user-signature div a:nth-child(2) img  {
    margin-right: 0;
}

.user-signature div a:nth-child(3) img {
    margin-left: 0;
}

.text-center {
    text-align: center;
}

.post .reply-tool {
/*    float: right;*/
}

.post .reply-tool img:nth-child(2) {
    border-bottom-right-radius: 0;
    border-right-color: rgba(255, 255, 255, 0.2);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-right-radius: 0;
    margin-right: 0;
    padding-right: 0;
}

.post .reply-tool img:nth-child(3) {
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 0;
    margin-left: 0;
    padding-left: 0;
}



.table-header.table-row span {
    vertical-align: middle;
}

.table-row {
    display: table-row;
}

.table-row > * {
   display: table-cell; 
}

.table-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

.table-row > span:first-child {
    /*padding-top: 10px;*/
    text-align: center;
    vertical-align: top;
    width: 5%;
}

.button {
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 28px;
    margin-left: 1px;
    margin-right: auto;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: middle;
}

.success, .unfinished, .accept {
    background-color: #259825;
}

.info {
    background-color: #0854ae;
}

.warning, .web-orange, .deny {
    background-color: #f9a400;
}

.danger {
    background-color: #BF0000;
}

.tool {
    background-color: #4f4f4f;
}

.table-row > span:first-child a img:hover {
    background-image: none;
}

.table-row > div, span {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}



.table-row > div > h3 {
    margin: 0;
}

.table-row > div > p {
    color: #666666;
    margin: 0;
}

.table-row-group > .table-row > div > dl * {
    display: inline;
    width: auto;
}

.table-row-group > .table-row > div > dl {
    margin-top: 2px;
    margin-bottom: 2px;
}

.table-row-group > .table-row > div > dl:nth-child(2) {
    font-size: .8em;
}

.table-row-group > .table-row > div > dl > dt {
    color: #555555;
}

.table-row-group > .table-row > div > dl > dd {
    float: right;
    margin-left: 5px;
}

#image-preview {
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}

.image-toolset {
    display: inline-block;
    max-width: 300px;
}

.image-toolset-img {
    display: block;
    max-width: 300px;
}

/*For displaying feature art in font page and article editor respectively*/
.article-feature-art, .article-feature-art img, .wysibb-feature-art, .wysibb-feature-art img  {
    float: left;
    width: 300px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

#main-article time:first-of-type {
    display: block;
}

#main-article time {
    /*display: block;*/
    margin: 5px 0;
    font-weight: bold;
}

#news-main-article {
    /*display: inline-block;*/
    width: 73%;
    float: left;
}

#news-main-article-aside {
    /*display: inline-block;*/
    right: 0;
    margin-right: 15px;

    width: 24%;
    background-color: #eeeeee;
    height: 100%;
    position: absolute;
}

#news-main-article-aside-owner {
    display: block;
    overflow: hidden;
    padding: 10px;
}

#news-main-article-aside-info {
    height: 3em;
    float: right;
}

#news-main-article-aside-tools {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

#news-main-article-aside-tools img {
    margin: 3px;
    display: block;
}

#news-main-article-aside-info time {
    color: #555555;
}

#news-main-article-aside-author {
    float: right;
    width: 82%;
    display: block;
}

#news-main-article-aside-author a {
    display: block;
    text-align: center;
}

#news-main-article-aside-author img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#news-main-article-aside-author time {
    text-align: center;
    display: block;
}

#news-main-article-aside-other {
    display: block;

}

#news-main-article-aside-other h2 {
    font-size: 1.5em;
    text-align: left;
    color: #999999;
    /*line-height: 17px;*/
    margin: 18px 0px 18px 3px;

}

#news-main-article-aside-other ul {
    padding: 0;
}


#news-main-article-aside-other li {
    list-style: none;
}

#news-main-article-aside-other li a {
    color: #555555;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;

}

#news-main-article-aside-other li a:hover span {

    text-shadow: 0 0 0 #333, 0 0 .01px #333;
    -webkit-transition: text-shadow 500ms ease-out;
    -moz-transition: text-shadow 500ms ease-out;
    -o-transition: text-shadow 500ms ease-out;
    transition: text-shadow 500ms ease-out;
}

#news-main-article-aside-other li a:hover img {

    background-color: #196a19;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}

#news-main-article-aside-other li a img {
    background-color: #259825;
    height: 13px;
    float: right;
}

#news-main-article-aside-other span {
    width: 89%;
    display: inline-block;
}



.wysibb-feature-art, .wysibb-feature-art img {
    float: left;
}

.article-feature-art-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 8pt;
    padding: 5px;
    position: absolute;
}

.embed-image-button {
    display: inline-block;
}

#member-profile h2 {
    margin: 0;
}

.nav {
    list-style: none;
}

.nav li {
    display: table-cell;
    margin: 0;
}  

.nav a {
    text-decoration: none;
    color: #cccccc;
}

.nav a:visited {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
}

.nav a:active {
    text-decoration: none;
}

.navbar {
    background: -moz-linear-gradient(center top , #606060, #464646) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top, #606060, #464646);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #606060), color-stop(1.0, #464646));

    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);*/


    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
    height: 39px;
    display: table;
    width: 1050px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.nav li a:active {
    color: #FFFFFF;
}

.nav.navbar.navbar-left li.selected{
    border-left: 1px solid #2a2a2a;
    border-right: 1px solid #818181;
    background: -moz-linear-gradient(center top , #777777, #5e5e5e) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top, #777777, #5e5e5e);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #777777), color-stop(1.0, #5e5e5e));
}

.nav.navbar.navbar-left li:hover {
    background: -moz-linear-gradient(center top , #777777, #5e5e5e) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top, #777777, #5e5e5e);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #777777), color-stop(1.0, #5e5e5e));
}

.navbar-left {
    border-left: 1px solid #818181;
    border-right: 1px solid #2a2a2a;
    width: auto;
    margin: 0 0 0 15px;
    padding: 0;
    /*margin-left: 15px;*/
}

.navbar-left li {
    padding: 0 13px;
    height: 39px;
    vertical-align: middle;
    border-left: 1px solid #444444;
    border-right: 1px solid #666666;
}

.navbar-right {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.navbar-right li {
    float: right; 
    padding-right: 13px; 
}

#page-content{
    background-color: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    /*overflow: hidden;*/
    padding: 0 15px 12px;
    top: 3px;
    position: relative;
    text-align: justify;
    min-height: 600px;
}

.validation-message {
    color: #FF0000;
}

#messages-container {
    display: table;
}

nav#nav-vertical {
    display: table-cell;
    padding-top: 6px;
    vertical-align: top;
    background: #4f4f4f none repeat scroll 0 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 200px;
}

nav#nav-vertical div {
    display: table;
    padding: 0;
    width: inherit;
}

nav#nav-vertical

nav#nav-vertical a:hover {
    background: #444444;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #555555;

}

nav#nav-vertical a{
    color: #888888;
    display: table-row;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    height: 45px;
}

nav#nav-vertical * {
    padding: 5px 9px;
}

nav#nav-vertical img {
    width: 28px;
    position: relative;
    top: -3px;
    float: right;
}

nav#nav-vertical span {
    float: left;
}

.new-message-h1 {
    width: 100%;
}

.messages-section {
    /*display: table;*/
    display: inline-block;
    width: 79%;
}

.messages-nav {
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
}

.messages-section h2 {
    background-color: #e3e3e3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #555555;
    display: inline-block;
    line-height: 25px;
    margin: 0;
    padding-left: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    width: 100%;
}

.messages-section h2 div {
    color: black;
    display: inline;
    float: right;
    font-weight: bold;
    padding-right: 14px;
}

#members {
    background-color: rgba(0, 0, 0, 0.02);
}

#members form {
    width: 99.5%;
}

#members > .user-details {
    width: 15%;
    display: inline-block;
    padding: 3px;
    text-align: center;
    /*word-wrap: break-word;*/
}

#members > .paginator {
    width: 100%;
}

#members > .user-details p {
    font-size: 10px;
}

#members img {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

#members .paginator {
    padding-top: 3px;
    padding-bottom: 5px;
}

#members .user-details img[title="Quick Reply"] {
    height: 28px;
    width: 30px;
}

#members h2 input {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #f1f1f1, #ffffff) repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 2px 3px;
    margin-left: 5px;
}

#members form {
    display: inline-block;
}

#members .successMessage {
    font-weight: bold;
}

.member-img {
    position: relative !important;
}

.member-locked {
    position: absolute;
    top: -50px;
    left: -25px;
}

.member-achievements {
    /*display: unset;*/
    width: unset;
    /*vertical-align: middle;*/
    /*padding-bottom: unset;*/
    margin-left: unset;
}

.member-achievements label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.member-achievements img {
    vertical-align: middle;
}

.member-achievement-badge {
    width: unset !important;
    display: inline-block !important;
}

.messages-itemised-details {
    padding-left: 3px;
    width: 29%;
}

.messages-itemised-subject {
    font-weight: bold;
    color: black; /* This contains a link so is black */
    font-size: 13px;
    white-space: pre-wrap;
}

.messages-itemised-sender a:last-of-type, .messages-itemised-snippet * {
    text-decoration: none;
    color: black;
}

.messages-itemised-snippet {
    font-size: 11.5px;
    padding-top: 3px;
    width: 1000px;
}

.messages-itemised div {
    vertical-align: middle;
}



/*#messages-inbox p {*/
    /*display: inline;*/
/*}*/

#messages-itemised {
    display: block !important;
}

nav#news-nav-horizontal {
    list-style: none;
    background-color: #4f4f4f;
    border-top-left-radius: 3px;
    height: 38px;
    margin-left: -15px;
    display: table;
    table-layout: fixed;
    padding-left: 15px;
    padding-right: 393px;
    margin-bottom: 0;
}

nav#news-nav-horizontal ul {
    padding: 0;
    margin: 0;
    display: table-row;
}

nav#news-nav-horizontal ul li {
    display: table-cell;
    vertical-align: middle;
}

nav#news-nav-horizontal ul li a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

nav#news-nav-horizontal ul li a img {
    width: 28px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;

}

nav#news-nav-horizontal li.selected {
    background: none repeat scroll 0 0 #999999;
}

nav#news-nav-horizontal li.selected:hover {
    background: none repeat scroll 0 0 #999999;
}

nav#news-nav-horizontal li:hover {
    background: none repeat scroll 0 0 #777777;
}

#news-splash-blurbs {
    width: 46.9%;
}

.table {
    display: table;
}

.inline-table {
    display: inline-block !important;
    vertical-align: top;
}

.table-cell {
    display: table-cell;
}

.news-group-table {
    border-collapse: collapse;
    width: 100%;
}

.no-margin-top {
    margin-top: 0;
}

.paginator {
    display: inline;
    float: right;
    font-weight: normal;
    text-align: right;
}

.paginator span {
    margin-left: 10px;
    margin-right: 10px;
}

.paginator-select {
    content: "...";
    display: inline;

}

.left {
    float: left;
}

.league-name {
    text-align: left !important;
    line-height: 5em;
}

.league-name span:nth-child(2) {

    position: absolute;
    left: 20%;
    width: 10em;
    text-align: center;
}

.league-name img {
    height: 5em;
}


#live-match {
    /*text-align: center;*/
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr .15fr 1fr;
    text-align: center;
    background-color: unset !important;

}

#live-match span {
    padding: 0;
}

#live-match span:nth-child(1) {
    text-align: right;
}

#live-match span:nth-child(2) {
    padding: 5px;
}

#live-match span:nth-child(3) {
    text-align: left;
}

#live-match img {
    vertical-align: middle;
}

#live-match > div {
    grid-column: 2;
    width: 100%;
}

.right {
    float: right;
}

.paginator *:nth-child(1) {
    margin-left: 0;
}

.paginator-button {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #dddddd;
    background: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background: -o-linear-gradient(top, #eeeeee, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    color: #000;
}

.paginator-button:hover {
    background-color: #e5e5e5;
    background: -moz-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -o-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.paginator-button:active {
    background-color: #eeeeee;
    background: -moz-linear-gradient(top, #dddddd, #eeeeee);
    background: -o-linear-gradient(top, #dddddd, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #dddddd), color-stop(1.0, #eeeeee));
}

.paginator-button-current {
    background-color: #e5e5e5;
    background: -moz-linear-gradient(top, #f6f6f6, #e5e5e5http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=311881);
    background: -o-linear-gradient(top, #f6f6f6, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fb_iframe_widget {
    vertical-align: top;
}

.forty-percent-wide {
    width: 40%;
}

#img-admin-newsgroup {
    background: #4f4f4f;
    max-width: 48px;
    vertical-align: middle;
}


#nav {
    float: right;
} 

#nav li {
    display: inline;
    padding: 7px;
}

#nav li a {
    text-decoration: none;
    color: #999999;
}

.container {
    display: table-cell;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: top;
    padding-left: 7px;
    padding-right: 7px;
}

.table main {
    display: table-cell;
}

.container h2 {
    font-size: 16pt;
    color: #3976be;
    line-height: 17px;
    text-align: left;
}

.container p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

header * {
    vertical-align: middle;
}

#header-ad-space {
    display: inline-block;

}

#header-logo-desktop {
    display: inline-block;
    background: url("../img/logo/logo.png") no-repeat;
    margin: 15px 0 15px 15px;
    height: 5em;
    width: 22em;
}

.admin-ad-space textarea {
    width: 65%;
    height: 12em;
}

.admin-ad-space input:not([type!='submit']) {
    width: 65% !important;
}

.admin-disclaimer textarea {
    width: 65% !important;
    height: 24em;
}

#disclaimer {
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 20px 10px;
}

#header-banner{
    position: absolute;
}

#home_score, #away_score {
    width: auto !important;
    text-align: center;
}

#admin-select-box {
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 1;
}

#admin-heading {
    display: inline-block;
}

.upload-new-image-file {
    opacity: 0;
    height: 16px;
    margin-top: 5px;
    position: absolute;
    width: 101px;
}

.upload-team-group-image-file {
    opacity: 0;
    height: 16px;
    margin-top: 5px;
    position: absolute;
    width: 53px;
}

.upload-new-image-file[alt] {
    color: yellow;
}

.admin-body {
    position: relative;
    margin-top: 17px;
}


#form {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.new-message-form {
    display: inline-block;
    width: 79%;
}

#form.new-message-form > div > div:nth-child(2) > label, #form.new-message-form > div > div:nth-child(3) > label {
    width: 10%;
}

.new-message-h1 + #nav-vertical {
    display: inline-block;
}

.message-form {
    display: inline-block;
    vertical-align: top;
    width: 79%;
}

.message-form label {
    padding-left: 5px !important;
}

.message-form legend span {
    float: right;
    font-weight: bold;
}

.message-form input[readonly] {
    color: grey;
}

.message-form p {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
    background: -o-linear-gradient(top, #f1f1f1, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f1f1f1), color-stop(1.0, #ffffff));
    padding: 2px 3px;
    width: auto;
    margin: 5px;
}

.message-form .errorMessage, .errorMessage, .noticeMessage {
    float: right;
    font-weight: bold;
    margin-right: 5px;
}

.owlsonline-gradient {
    background: -webkit-linear-gradient(279deg, rgb(26, 39, 174) 0%, rgb(30, 45, 195) 100%);
    background: -o-linear-gradient(279deg, rgb(26, 39, 174) 0%, rgb(30, 45, 195) 100%);
    background: -ms-linear-gradient(279deg, rgb(26, 39, 174) 0%, rgb(30, 45, 195) 100%);
    background: -moz-linear-gradient(279deg, rgb(26, 39, 174) 0%, rgb(30, 45, 195) 100%);
    background: linear-gradient(171deg, rgb(26, 39, 174) 0%, rgb(30, 45, 195) 100%);

}

#form div input[type|=text], #form div input[type|=password], #form div textarea {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
    background: -o-linear-gradient(top, #f1f1f1, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f1f1f1), color-stop(1.0, #ffffff));
    padding: 2px 3px;
}


#form input[type|=checkbox] {
    margin: 0;
}

#form input[type|=file] + #upload-new-image-overlay {
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1) ;
}

#form input[type|=file]:hover + #upload-new-image-overlay {
    background: -moz-linear-gradient(center top , #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top , #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

#form input[type|=file]:active + #upload-new-image-overlay {
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    background: -o-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
}

#form input[type|=text], #form .input-text, #form input[type|=password] {
    width: 200px;
}

#match-preview-button {
    font-size: 9pt !important;
}

.a-button {
    font: caption;
    font-size: 11px;
    color: buttontext;
    padding: 3px 7px !important;
}

.form-button {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    background: -o-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
    padding: 2px 3px;
    color: black;
}

.form-button:hover {
    background: -moz-linear-gradient(center top , #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top , #f6f6f6, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f6f6f6), color-stop(1.0, #e5e5e5));
}

.form-button:active {
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    background: -o-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eeeeee), color-stop(1.0, #dddddd));
}

.label-as-button {
    font-size: 11px;
    width: auto !important;
    font: \.Helvetica Neue DeskInterface;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 1px 7px !important;
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

#embed-image-text {
    content: balls;
}

#form fieldset, #form .fieldset, .new-message-form > div {
    background-color: #f9f9f9;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: 0;
    padding: 0;
}

#form fieldset legend, #form .fieldset .legend, .new-message-form legend {
    background-color: #e3e3e3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 25px;
    padding: 0;
    text-indent: 6px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    width: 100%;
    color: #555555;
}

#form fieldset > div, #form .fieldset > div {
    margin: 5px 0;
}

#form label, #form .label {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    padding-bottom: 5px;
    margin-left: 5px;
}

.admin-body table tbody tr td a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.admin-body table tbody tr td a:visited {
    text-decoration: none;
    color: #000;
}

.admin-body table tbody tr td a:link {
    text-decoration: none;
    color: #000;
}

.note {
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
}
.noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wysibb-image-embed {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    width: 594px;
    box-shadow: 2px 2px 2px 2px grey;
}

.full-width {
    width: 100%;
}

.reset-this {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}