{% do assets.addJs("js/wysibb/jquery.wysibb.js") %}
{% do assets.addJs("js/wysibb-options.js") %}

<h1>Add Topic to {{ forum.title }}</h1>

<div class="admin-body">
    <form id='form' method='post' enctype='multipart/form-data'>
        <fieldset>
            <legend>Topic Details {{ flashSession.output() }}</legend>
            <div>
                {{ form.getLabel("title") }}
                {{ form.get("title") }}
            </div>
            <div>
                {{ form.getLabel("description") }}
                {{ form.get("description") }}
            </div>
        </fieldset>
        <fieldset>
            {{ form.getLabel("bbcode_field") }}
            {{ form.get("bbcode_field") }}
            {{ form.get("content_html") }}
        </fieldset>

        {#TODO if no article if then button is add
        {{ form.get('modify') }}#}

        {{ form.get('add') }}


    </form>
</div>