<form id='form' method='post'>
    <fieldset>
        <legend>Add News Group</legend>
    
        <div>
            {{ form.getLabel("Name") }}
            {{ form.get("Name") }}
        </div>
        {{ form.get("Submit") }}
    </fieldset>
</form>