{#/**#}
 {#* Created by PhpStorm.#}
 {#* User: mrsinclair#}
 {#* Date: 03/06/2016#}
 {#* Time: 09:47#}
 {#*/#}



{{ content() }}

<table>
    <caption>Members</caption>

    {#<th colspan=2 class="paginator">#}
    {# Paginator goes here #}
    {#</th>#}
    {#<tr>#}
    {#<th>Title</th>#}
    {#<th class="forty-percent-wide">Date</th>#}
    {#</tr>#}

    {#{% for article in page.items %}#}
    {#<tr>#}
    {#<td> <a href="../../news/modifynewsarticle/{{ article.id }}"> {{ article.title }} </a> {{ flashSession.output() }} </td>#}
    {#<td> <a href="../../news/modifynewsarticle/{{ article.id }}"> {{ article.created|datedecode }} </a> </td>#}
    {#</tr>#}
    {#{% endfor %}#}

</table>