{{ content() }}
<div class="messages-section">
    <h2>Friends List{{ flashSession.output() }}
        {#<div class="paginator">{{ elements.getPaginator(page, "Messages") }} </div>#}
    </h2>
    {% if friends is not defined %}
        <img class="info button" src="img/buttons/exclamation.png"><span>You do not have any friends in your friends list.</span>
    {% endif %}


</div>