<h1>Admin Settings</h1>


<form id="form" method='post' enctype='multipart/form-data'>
    <fieldset>
        <legend>Forum Settings</legend>
        
        <div>
            {{ form.get("Reset") }}
        </div>
        
        
    </fieldset>
    
</form>


{{ content() }}